<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>OrbitGuard // Tactical Telemetry</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link href= "../static/style.css" rel = "stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">OrbitGuard // System</div>
        <div class="nav-links">
            <a href="/">Dashboard</a>
            <a href="/watchlist">Watchlist</a>
        </div>
    </nav>

    <main class="dashboard-wrapper">
        
        {% block body %}
        {% endblock %}

    </main>

</body>
</html>