{% extends "layout.html" %}

{% block body %}

    <section class="table-card">
        <table class="tactical-table">
            <thead>
                <tr>
                    <th>Designation</th>
                    <th>Threat Score</th>
                    <th>Distance (km)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- JINJA LOOP: This creates a row for every asteroid -->
                {% for asteroid in pinned %}
                <tr>
                    <td>{{ asteroid.name }}</td>
                    <td>{{ asteroid.threat_score }}</td>
                    <td>{{ asteroid.miss_distance }}</td>
                    <td>
                        <!-- Storing Python data inside HTML data-* attributes -->
                        <form action = "/unpin" method = "post">
                            <input type="hidden" name = "asteroid_id" value="{{ asteroid.id }}">
                            <button class="pin-btn" 
                                    data-id="{{ asteroid.id }}"
                                    data-name="{{ asteroid.name }}">
                                REMOVE
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}